.WordGroup-menu {
    display: flex;
    justify-content: center;
    padding-right: 15px;
    font-size: 22px
}

.WordGroup-el__circle, .WordGroup-el__circle-main {
    border-radius: 50%;
    background-color: rgb(255 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.WordGroup-el__circle {
    width: 60px;
    height: 60px;
}

.WordGroup-el__circle-main {
    width: 50px;
    height: 50px;
}

.WordGroup-el__circle:hover {
    transform: scale(1.2);
    opacity: 85%;
    border: 1px solid red;
    cursor: pointer;
}

.WordGroup-el__circle-main:hover {
    border: 1px solid red;
    cursor: pointer;
}

.WordGroup-container {
    position: absolute;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}