.WordPage-menu {
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.WordPage-menu-wrapper {
    display: flex;
    background: rgb(96 222 248 / 75%);
    justify-content: space-between;
    width: 95%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.WordPage-count{
    background-color: #0dcaf0;
}
.btn-info {
    width: 100px;
}

.btn-info:hover {
    border: 1px solid red !important;
    box-shadow: none !important;
    background-color: aquamarine !important;
}

.btn-info:focus {
    box-shadow: none !important;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none !important;
}
.WordPage-menu-slider{
    display: flex;
}
.HomeSVG{
    width: 50px;
    height: 50px;
}
.HomeSVG:hover,
.HomeSVG g:hover{
    cursor: pointer;
    fill: rgb(255, 255, 255);
}
.WordPage-menu-links{
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 50px
}
.WordPage-menu-links__game{
    font-size: 22px;
}
.WordPage-menu-links__game:hover{
    cursor: pointer;
    color: white;
}
