.header {
  height: 70px;
  background: #629FFA;
  width: 100%;
}

.header_wrap {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.header_logo_link {
  text-decoration: none;
  color: white;
  font-size: 45px;
}

.header_logo_link:hover {
  color: rgb(255, 40, 40);
}

.header_logo {
  background: url(./logo-blue.png);
  background-size: 100% 107%;
  width: 24%;
  height: 70px;
}

.header_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 35px;
  width: 60%;
}

.header_nav > div:hover {
  cursor: pointer;
  color: rgb(10, 0, 151);
}

.page_active {
  text-decoration: overline;
}

.autorisation {
  width: 9%;
  border: none;
  background-color: inherit;
}

.autorisation:hover {
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
}

.login_text {
  font-size: 25px;
  color: white;
  margin-bottom: 0px;
}
.login_text:hover {
  color: rgb(10, 0, 151);
}

@media screen and (max-width:1440px) {
  .header_nav {
    font-size: 30px;
    width: 65%;
  }
}
@media screen and (max-width:1024px) {
  .header_wrap {
    max-width: 80%;
  }
  .header_nav {
    font-size: 25px;
    width: 65%;
  }
}

@media screen and (max-width:768px) {
  .header_wrap {
    max-width: 90%;
  }
  .header_logo_link {
    font-size: 25px;
  }
  .header_nav {
    font-size: 15px;
    width: 65%;
  }
  .login_text {
    font-size: 15px;
  }
  
}