.word-card-container {
    display: flex;
    border-radius: 25px;
    border: 1px solid black;
    overflow: hidden;
    width: 45vw;
}

.word-card-content-left {
    width: 40%;
}

.word-card-content-right {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.word-card-word {
    display: flex;
    justify-content: right;
    font-size: 24px;
    font-weight: 600;
}

.wordcard-text {
    font-size: 18px;
    font-weight: 400;
}

.word-card-img {
    width: 100%;
    height: 370px;
    border-radius: 25px;
    background-size: cover;
    background-position: center center;
}
.word-card__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.word-card__audio {
    display: flex;
}
.fa-circle-play {
    font-size: 24px;
    color: black;
}
.fa-circle-play:hover {
    cursor: pointer;
    color: white;
}

@media screen and (max-width:1650px) {
    .word-card-container {
        width: 60vw;
    }
}

@media screen and (max-width:1650px) {
    .word-card-img {
        height: 100%;
    }
}